@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	@layer base {
		:root {
			/* Thats the tailwind syntax apparently */
			--text: 211 248 230;
			--background: 1 9 5;
			--primary: 14 86 88;
			--secondary: 4 15 27;
			--accent: 150 193 238;

			/* Still need normal color syntax for charts */
			--color-text: #d3f8e6;
			--color-background: #010905;
			--color-primary: #0e5658;
			--color-secondary: #040f1b;
			--color-accent: #96c1ee;
		}
	}
}

@media (prefers-color-scheme: light) {
	:root {
		/* Thats the tailwind syntax apparently */
		--text: 1 9 5;
		--background: 211 248 230;
		--primary: 14 86 88;
		--secondary: 193 219 246;
		--accent: 33 115 202;

		/* Still need normal color syntax for charts */
		--color-text: #010905;
		--color-background: #d3f8e6;
		--color-primary: #0e5658;
		--color-secondary: #c1dbf6;
		--color-accent: #2173ca;
	}
}
